.footer {
  background: rgb(10, 10, 10);
  padding: 40px 20px;
  color: #aaa;
  border-top: 1px solid #333;
  text-align: center;
}

.footer-note {

  margin: auto;
  font-size: 15px;
}


.footer-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 200px;
  flex-wrap: wrap;
}

.column h4 {
  color: rgb(190, 188, 188);
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.column p {
  margin: 4px 0;
  font-size: 14px;
  color: hsl(0, 2%, 40%);
margin-bottom: 10px;
cursor: pointer;
}
.column p:hover{
    color: aliceblue;
}

.footer-bottom {
  margin-top: 40px;
  font-size: 14px;
  color: #aaa;
}

.bottom-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.bottom-links span {
  cursor: pointer;
  color: #b5b5b5;
}
