*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(12, 12, 11);
}

.navbar{
    background-color: rgb(17, 16, 16);
    display: flex;
    justify-content: space-between;
   align-items: center;
    padding: 0 50px;
    height: 50px;
}
.navbar ul{
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar ul li{
    color: white;
    font-size: 16px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight:100;
   cursor: pointer;
}

.icons{
display: flex;
font-size: 20px;
gap: 15px;
margin-right: 200px;
}

.head{
    background-color: rgb(21, 21, 27);
     padding: 20px 0 20px 350px;
    display: flex;
    gap: 15px;
    box-shadow: 0 2px 10px;
    
}
#btn{
    background-color: rgb(36, 34, 34);
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid rgb(53, 53, 54);
}
