.text{
    color: aliceblue;
   text-align: center;
   margin-top: 100px;
}
.text h1{
     font-size: 60px;
    color: rgb(233, 227, 240);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.text p{
    color: rgb(158, 158, 151);
    font-size: 28px;
    padding: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buttons{
    display: flex;
    justify-content: center;
    gap:20px;
    padding: 20px;
    padding-bottom: 50px;
}
#buybtn{
       background-color: rgb(8, 137, 212);
    color: white;
    padding: 10px;
    width: 70px;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid rgb(53, 53, 54);
   cursor: pointer;
}
#learn{
    background-color: rgb(36, 34, 34);
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid rgb(53, 53, 54);
    cursor: pointer;
}
#video{
    border-radius: 15px;
   padding-bottom: 90px;
}


.circle {
    height: 30vh;
    width: 204vh;
    background-color: rgb(16, 17, 17);
    padding-bottom: 100px;
    margin-bottom: 150px; 
}
#p{
    color: rgb(251, 251, 255);
    font-weight:bold;
    font-size: 32px;
    padding-top: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divclass{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25vh;
    padding-top: 40px;
}
.div{
    background-color: rgb(175, 179, 179);
    height: 80px;
    width: 80px;
    border-radius: 450%;
}
.div1{
    background-color: rgb(142, 160, 186);
    height: 80px;
    width: 80px;
    border-radius: 450%;
}
.div2{
    background-color: rgb(235, 242, 242);
    height: 80px;
    width: 80px;
    border-radius: 450%;
}
.div3{
    background-color: rgb(64, 65, 65);
    height: 80px;
    width: 80px;
    border-radius: 450%;
}
#first{
    color: #b4b7bd;
    font-size: 18px;
    padding-top: 100px;
    margin-right: 50;
    white-space: nowrap;
    font-weight:300;
    letter-spacing: 0.5px; 
}
.cards{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    gap: 30px;
   margin-bottom: 80px;
   
}

.card{
    width:400px;
    background-color: #211f1f;
    overflow: hidden;
    color: white;
    border-radius: 10%;

}
.card img{
    border-radius: 10%;
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.cards2 img{
    height: 40vh;
    width: 40vh;
   border-radius: 20px;

}
.cards3 img{
    height: 40vh;
    width: 40vh;
    border-radius: 20px;

}
.card-text {
    padding: 25px;  
}

.card-text h2 {
    margin: 0;
    color: white;
    font-weight: 100;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-text p {
    padding-top: 10px;
    color: #999494;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.game{
    background-color: rgb(20, 22, 22);
    height: 70vh;
    width: 100%;
    margin-bottom: 12vh;
    display: flex;
    justify-content: space-around;
}

/* .imgclass h1{
    color: rgb(248, 250, 250);
    font-size: 45px;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.kamkrja{
margin-left: 25vh;
}
.kamkrja h1{
    font-size: 40px;
    color: rgb(249, 252, 252);
    margin-top: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.kamkrja h2{
    font-size: 40px;
   color: rgb(249, 252, 252);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.kamkrja p{
    color: rgb(105, 105, 110);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#morebtn{
    background-color: rgb(8, 137, 212);
    color: white;
    padding: 10px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
    border: 1px solid rgb(53, 53, 54);
   cursor: pointer;
}
#viewbtn{
      background-color: rgb(36, 34, 34);
    color: white;
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    border: 1px solid rgb(53, 53, 54);
    cursor: pointer;
    margin-left: 20px;
    height: 50px;
    width: 150px;
}



.fourdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 204vh;
    margin-bottom: 5vh;
     gap: 40px;
}
.fourdiv1{
    height: 120px;
    width: 260px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: center;
   align-items: center;
    background-color: #111;          /* Apple-style black */
    border: 1px solid #2c2c2c;   
}
.fourdiv1 p{
    font-size: 20px;
    color: #b3b3b3;   
    margin: 0;
    margin-top: 20px;
    letter-spacing: 0.5px;

}
.fourdiv1 h1 {
    font-size: 24px;
    color: white;
    margin: 0;
    font-weight: 600;
    margin-bottom: 50px;
}